:root {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
	/* font-weight: 400; */

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	/* Colors */
	--primary: #2f4858;
	--secondary: #86bbd8;
	--ternary: #336699;
	--text: #daf7dc;
	--text-alt: #9ee493;
	--text-holder: #A1A6B3;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}