/* Styles for the sidebar in general */
.sidebar-grid {
	background-color: var(--primary);
	display: grid;
	grid-template-rows: 1fr 7fr 2fr;
	position: fixed;
	min-width: 13%;
	max-width: 13%;
	height: 100%;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
	z-index: 111;
}

/* Styles for the logo */
.sidebar-logo {
	display: grid;
	place-items: center;
	height: 100%;
	width: 100%;
}

.sidebar-logo img {
	max-width: 60%;
	max-height: 60%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Styles for the icons for navegate*/
.sidebar-icons {
	height: 100%;
	display: grid;
	grid-template-rows: repeat(5, 2fr);
}

.sidebar-grid a {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-self: center;
	padding-left: 25%;
	gap: 1em;
	color: #fff;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}

.sidebar-grid a svg {
	font-size: 21px;
}

.sidebar-grid a span {
	font-size: 18px;
	font-weight: 600;
}


.sidebar-icons a span {
	align-self: center;
}


.sidebar-icons a:hover {
	color: var(--secondary);
}

.sidebar-icons a.active {
	color: var(--text);
}

/* Styles for the icons to logout*/
.sidebar-logout {
	height: 100%;
	display: grid;
	grid-template-rows: repeat(2, 5fr);
}

.sidebar-logout a:hover {
	color: var(--secondary);
}


@media screen and (max-width: 768px) {
	.sidebar-grid {
		max-width: 15%;
	}

	.sidebar-grid a span {
		display: none;
	}

	.sidebar-grid a {
		padding-left: 0px;
		justify-content: center;
	}
}